.overall-buy-container{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: fit-content;
}

.buy-container{
    display: flex;
    background-color: #ffffff;
    border:1px solid #DEE2E7;
    box-shadow: 0px 1px 2px rgba(56,56,56,0.08);
    border-radius: 6px;
    flex-direction: column;
    width: fit-content;
}

.supplier{
    display: flex;
    /* background-color: pink; */
    margin-top: 19px;
    margin-left: 16px;
    gap: 11px;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 20px;
    margin-right: 16px;
    width: 248px;
}

.supplier-logo-container{
    display: flex;
    background-color:#C6F3F1;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    color: rgba(76, 167, 167, 0.6);
    border-radius: 4px;
}

.supplier-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family:sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1C1C1C;
}

.supplier-details{
    display: flex;
    flex-direction: row;
    margin-left: 16px;
    margin-top: 16px;
    gap:17px;
    padding-bottom: 0%;
    margin-bottom: 30px;
}

.supplier-detail-icon{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 21px;
    align-items: center;
}

.verified-icon{
    width: 15px;
}

.globe-icon{
    width: 16px;
}

.supplier-detail-information{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #8B96A5;
    gap: 10px;

}

.buy-buttons{
    display: flex;
    /* background-color: yellowgreen; */
    flex-direction: column;
    margin-left: 16px;
    gap: 8px;
    margin-right: 16px;
    margin-bottom: 21px;
    width: 248px;
}

.buy-now-button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0067FF;
    padding: 10.5px 0px;
    border-radius: 6px;
    font-family:sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
}

.buy-now-button:hover{
    opacity: 0.7;
}

.add-to-cart{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0067FF;
    padding: 10.5px 0px;
    border-radius: 6px;
    font-family:sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    background-color: #ffffff;
    border: 1px solid #DEE2E7;
}

.add-to-cart:hover{
    background-color: #eeeeee;
}
.save-for-later{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #0D6EFD;
    margin-top: 26px;
}