.product-info-container{
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    border-bottom: 2px solid gray;
}

.product-stock{
    display: flex;
}

.product-name{
    display: flex;
    background-color: bisque;
}

.rating-review-sold{
    display: flex;
    background-color: lightcoral;
}

.price-per-pieces-container{
    display: flex;
    background-color: burlywood;
}

.price-per-pieces-container-values{
    display: flex;
    background-color: cadetblue;
    gap: 10px;
}

.About-price{
    display: flex;
    gap: 100px;
}

.product-type-container{
    background-color: cornsilk;
    display: flex;
}

.type{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 30px;
}

.type-values{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
