.related-products{
    width: 1210px;
    height: 350px;
    background-color: #FFFFFF;
    border:1px solid #DEE2E7;
    border-radius: 6px;
}

.related-products-heading{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.2px;
    color: #1c1c1c;
    margin-top: 20px;
    margin-left: 22px;
}

.related-product-info{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.related-product-name{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #505050;
}

.related-product-price{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #8b96a5;
}

.related-products-contents{
    display: flex;
    gap:27px;
    margin-top: 25px;
    margin-left: 22px;
    margin-bottom: 35px;
    margin-right: 25px;
}

.related-product-image-container{
    background-color: #eeeeee;
    border-radius: 6px;
    width: 172px;
    height: 172px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.related-product-image{
    background-color: #eeeeee;
}

.related-product-card{
    display: flex;
    flex-direction: column;
    gap: 15px;
}